/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import url('./form.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./gallery.css');

.main-title {
  margin-bottom: 24px;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 700;
  background: linear-gradient(rgb(255 107 10), #4e75ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-align: center;
}


